@charset "UTF-8";
/* MOBILE FIRST */
/*
ton 1 #3F221A
ton 2 #704938
ton 3 #775643
ton 4 #B4A797
ton 5 #CEC1AE
*/
:root{
    --ton1: #3F221A;
    --ton2: #704938;
    --ton3: #775643;
    --ton4: #B4A797;
    --ton5: #CEC1AE;
}
*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body, html{
    background-image: linear-gradient(to top, var(--ton1), var(--ton2), var(--ton3));
    width: 100vw;
    height: 100vh;
}
main{
    position: relative;
    height: 100vh;
    width: 100vw;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--ton5);
    width: 250px;
    height: 480px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--ton3);
    transition: height .3s, width .3s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    background: var(--ton5) url(../imagens/pexels-jentssen-ㅤ-15038308\ \(1\).jpg);
    background-size: cover;
    height: 200px;
    background-position: center bottom;
}
div.campo{
    width: 95%;
    display: block;
    height: 40px;
    margin: 0px;
}
div.campo > input{
    width: 86%;
    height: 30px;
}
div.campo > label{
    display: none;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
    font-size: 1.2em;
}
section#login > div#formulario > h1{
    text-align: center;
}
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 95%;
    height: 40px;
    background-color: var(--ton1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2px;
}
form > input[type=submit]:hover{
    background-color: var(--ton3);
    color: var(--ton1);
}
a.botao{
    text-decoration: none;
    background-color: var(--ton2);
    color: white;
    font-size: 1em;
    width: 95%;
    height: 30px;
    display: block;
    border-radius: 5px;
    text-align: center;
    margin: 2px;
    padding: 1px;
    padding-bottom: 3px;
}
a.botao:hover{
    background-color: var(--ton3);
    color: var(--ton1);
}
span{
    transform: translate(0%, 35%);
}